@model SelfAssessment
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "ManagerPage";
    ViewData["Title"] = "Privacy Policy";
}
@*<h1>@ViewData["Title"]</h1>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="description" content="....">
    <link rel="stylesheet" href="~/css/siteHTML.css">
    <script type="text/javascript">
        $("#logOutdiv").show();
        $("#monitorUsers").show();
        $("#Report").show();
        $("#login").hide();
        $("#Registeration").hide();


        function handleLogOutClick() {
            alert("You are successfully Log Out.");
            window.location = '@Url.Action("logOut", "Account")';

        }

        function handleMonitorUsers() {

            window.location = '@Url.Action("MonitorUsers", "Account")';

        }
        function handleReport() {

            window.location = '@Url.Action("Report", "Account")';

        }
    </script>
</head>
<body>
    <section class="content-holder">
        <!--content holder-->
        <article class="content">
            <!--content-->
            <main id="main_content">
                <h2 id="heading">Welcome to your account!Your Account information is as below</h2>

                <div>
                    <div class="row">
                        <label>Name: </label>
                        <input type="text" class="form-control" value='@HttpContextAccessor.HttpContext.Session.GetString("Name")' />
                    </div>

                    <div class="row">
                        <label style="margin-top: 20px;">Date Of Birth: </label>
                        <input type="text" class="form-control" value='@HttpContextAccessor.HttpContext.Session.GetString("DateOfBirth")' />
                    </div>
                    <div class="row">
                        <label style="margin-top: 20px;"> Address: </label>
                        <input type="text" class="form-control" value='@HttpContextAccessor.HttpContext.Session.GetString("Address")' />
                    </div>
                    <div class="row">
                        <label style="margin-top: 20px;">Phone Number: </label>
                        <input type="text" class="form-control" value='@HttpContextAccessor.HttpContext.Session.GetString("PhoneNumber")' />
                    </div>
                    <div class="row">
                        <label style="margin-top: 20px;">Email Address: </label>
                        <input type="text" class="form-control" value='@HttpContextAccessor.HttpContext.Session.GetString("EmailAddress")' />
                    </div>
                </div>
               
                <br>

                @*<p>
                    To check report click here
                    <a href="#" onclick="handleReport()"> Check Report </a>
                </p>

                <p>
                    To monitor users click here
                    <a href="#" onclick="handleMonitorUsers()"> Monitor Users</a>
                </p>*@

                @*<p>
                    To log Out click here
                    <a href="#" onclick="handleClick()"> log Out</a>
                        
                </p>*@
            </main>

        </article><!--content-->

        <aside class="sidebar">
            <!--sidebar-->
            <div>
                <h3>Related Links</h3>
                <ul>
                    <li><a href="https://www.worldometers.info/coronavirus/?utm_campaign=homeAdvegas1?">News</a></li>
                    <li><a href="https://www.211qc.ca/en/health/covid-19">Emergency</a></li>
                    <li><a href="https://www.quebec.ca/en/health/health-issues/a-z/2019-coronavirus/testing-for-covid-19/">Covid-19 Centers</a></li>

                </ul>

            </div>
        </aside><!--sidebar-->

        <div class="clear"></div>

    </section><!--content holder-->











</body>
</html>